*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Navbar */

.navbar{
    
    display: flex;
    justify-content: space-around;
    margin: 2em;
}

.logo{
    height: 2rem;
}

.nav-list{
    display: flex;
    list-style: none;
    font: 1.2em sans-serif;
    gap: 3em;
}   
a{
    color: #5b5b5b;
    text-decoration: none;
}
.ham{
    display: none;
    font-size: 2rem;
}

.button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    background: linear-gradient( white , white) padding-box, linear-gradient(50deg, blue, rgb(57, 205, 239))border-box;
    border: 3px solid transparent;
    font-size: 1.2rem;
    align-items: center;
    color: aqua;
    font-weight: 700;
    cursor: pointer;
}

/* hero-section */

.heropart1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5em;
    margin: 3em;

}
.heading{
    font-size: 2.8em;
    width: 60%;
    color: #000000;
}
#image{
    height: 25em;
}
#para{
    width: 60%;
    font-size: 1.2em;
}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient( rgb(111, 205, 245) , rgb(25, 114, 239)) padding-box, linear-gradient(50deg, blue, rgb(57, 205, 239))border-box;
    border: none;
    font-size: 1.2rem;
    align-items: center;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2rem;
}

/* smallcard */
.smallcard{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 4rem 5rem;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.cardsvg{
    height: 2rem;
}


#cardhead{
    font-size: 1.4em;
    margin-top: 0.4em;

}

#cardpara{
    font-size: 0.5em;
}

/* pricing section */

.price{
    display: flex;
    flex-direction: column;      
    background: linear-gradient(rgb(78, 157, 237), rgb(83, 83, 248));
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 3rem;
}
.pricing{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;

}

.pricecard{
    background-color: #ffffff;
    color: #000000;
    width: 40vh;
    border-radius: 10px;
    padding: 0.8em;
    margin-bottom: 2rem;
}

.pricecard{
    background-color: #ffffff;
    color: #000000;
    width: 40vh;
    border-radius: 10px;
    padding: 0 0.8rem;
    margin-bottom: 2rem;
}
#pricepara{
    font-size: 0.5em;
    text-align: left;
    color: #000000;
    margin-top: 10px;

}
.check{
    font-size: .8em;
    margin-right: 0.5rem;
}
.cardhead1 h3{
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    margin: 1rem;
 }

 .cardhead1 p{
    color: grey;
    margin-top: 7px;
    font-size: 0.6rem;
    text-align: left;
    margin: 1rem;
 }
 .cardfoot h3{
    text-align: center;
    font-size: 1.2rem;
    color: grey;
 }
 .cardfoot h3{
    text-align: center;
    font-size: 1.2rem;
    color: grey;
 }
 .cardfoot span{
    color: black;
 }
 .cardfoot p{
    margin-top: 5px;
    color: #656464;
    font-size: 0.6rem;
    text-align: center;
 }

.btn1{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    background: linear-gradient( white , white) padding-box, linear-gradient(50deg, blue, rgb(57, 205, 239))border-box;
    border: 3px solid transparent;
    font-size: 1rem;
    align-items: center;
    color: rgb(67, 189, 237);
    font-weight: 600;
    margin : 2rem;
}

.cardhead2{
    background-color: black;
    padding: 15px 25px;
    border-radius: 10px;
    width: 40vb;
    margin-left: -0.9rem;
}

.cardhead2 h3{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
 }

 .cardhead2 p{
    color: grey;
    margin-top: 7px;
    font-size: 0.6rem;
    margin-bottom: 1rem;
    text-align: left;
 }

 .btn2{
    
    background : linear-gradient(60deg, rgb(0, 157, 255), rgb(0, 217, 255));
    border: 0px solid transparent ;
    box-shadow: aqua;
    color: #ffffff;
    font-size: 1rem;
    align-items: center;
    font-weight: 600;
    margin : 2rem;
    padding: 10px 15px;
    border-radius: 10px;
}

/* card section */
.cardsection{
    align-items: center;
    margin-top: 5rem;
}

.card-heading h2{
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.card-heading p{
    color: grey;
    font-size: 0.7rem;
    margin-top: 0.8rem;
    text-align: center;
}

.cardline{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    /* padding: 15px 25px; */
}
.card{
   
    padding: 20px 30px;
    border-radius: 10px;
    width: 40vb;
    background-color: rgb(255, 253, 253);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
#para{
    font-size: 0.8rem;
    color: #000000;
    text-align: left;
}
.author{
    display: flex;
    margin-top: 2rem;
}
.author img{
    height: 3rem;
}

.author-detail{
    margin-left: 10px;
    display: inline;
}
#chead{
    font-size: 1rem;
    color: #000000;
}
.author-detail p{
    font-size: 10px;
    margin-top: 5px;
    color: #272626;
}

/* register section */

.register{
    margin-top: 2rem;
    background-image: url(./assets/footer-bg.svg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
}
.fleft h3{
    margin-top: 2rem;
    width: 45vh;
    font-size: 1.5rem;
}

.fleft p{
    margin-top: 1rem;
    width: 45vh;
    font-size: 0.5rem;
    margin-bottom: 2rem;
}

.fright{
    justify-content: center;
    align-items: center;
    margin:  5rem;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5rem;
    margin: 7rem 2rem;
    flex-direction: row;
}

#footpara{
    font-size: 0.6rem;
    color: #5b5b5b;
    width: 30vb;
    margin-top: 1rem;
}

.footer-list{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    list-style: none;
}

.list-item{
    font-size: 1.2rem;
    color: #000000;
    font-weight: 700;
}

.childlist{
    color: #5b5b5b;
    font-size: 0.8rem;
    margin-top: 1rem;
    list-style: none;
    line-height: 2rem;
}

.footer-right{
    font-size: 1.2rem;
    color: #000000;
}

.icons{
    margin-top: 1rem;
    display: flex;
    gap: 1em;
}
.svg{
    height: 1.5rem;
}

@media (max-width : 600px) {
    .ham{
        display: flex;
    }
    .nav-list{
        display: none;
    }
    .heropart1{
        flex-direction: column;
    }
    
}

@media (max-width : 900px) {
    .ham{
        display: flex;
    }

    .nav-list{
        display: none;
    }
     .heropart1{
        flex-direction: row;
     }
    
}

