*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
.logo{
height: 3rem;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: grey;
}
.list-item{
    color: black;
}

.button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    background: linear-gradient( white , white) padding-box, linear-gradient(50deg, blue, rgb(57, 205, 239))border-box;
    border: 3px solid transparent;
    font-size: 1.2rem;
    align-items: center;
    color: aqua;
    font-weight: 700;
}
.hero-section{
    display: flex;
    flex-direction: column;
}
.heropart1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: inline;
    width: 40%;
    align-items: center;
    text-align: left;
    margin-left: 5rem;
    margin-top: 5rem;
}
.heropart1 h1{
    color: black;
    font-size: 3.5rem;
    
}
.heropart1 p{
    margin-top: 3rem;
    color: grey;
    font-size: 1.5rem;

}
.btn{
    margin-top: 3rem;
    padding: 10px 20px;
    border-radius: 10px;
    background : linear-gradient(60deg, rgb(0, 157, 255), rgb(0, 217, 255));
    border: 3px solid ;
    box-shadow: aqua;
    text-decoration: none;
    font-size: 1.2rem;
    align-items: center;
    color: #ffffff;
    font-weight: 500;
}

.heropart1 img{
    margin-top: 5rem;
    height: 450px;
    margin-right: 2rem;
    
}

.heropart2{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.heropart2 img{
    margin-top: 5rem;
    height: 450px;  
}
.right{
    display: inline;
    width: 40%;
    align-items: center;
    text-align: left;
    margin-right: 2rem;
    margin-top: 5rem;
}
.heropart2 h1{
    color: black;
    font-size: 3.5rem;
}
.heropart2 p{
    margin-top: 3rem;
    color: grey;
    font-size: 1.5rem;
}

.heropart3{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left{
    display: inline;
    width: 40%;
    align-items: center;
    text-align: left;
    margin-left: 5rem;
    margin-top: 5rem;
}
.heropart3 h1{
    color: black;
    font-size: 3.5rem;
    
}
.heropart3 p{
    margin-top: 3rem;
    color: grey;
    font-size: 1.5rem;

}
.heropart3 img{
    margin-top: 5rem;
    height: 600px;
    margin-right: 2rem;
    
}
.heropart4 {
    display: flex;
    justify-content: space-between;
}

.heropart4 h1{
    color: black;
    font-size: 3.5rem;
    
}

.heropart4 p{
    margin-top: 3rem;
    color: grey;
    font-size: 1.5rem;
    
}

.smallcard{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 4rem;   
    
}
.smallcards{
    align-items: flex-start;
    padding: 30px 60px;
    border-radius: 10%;
    text-align: justify;
    background-color: #ffffff;
}
.smallcards h2{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: black;
}
.smallcards img{
    height: 2.5rem;
}
.smallcards p{
    margin-top: 2rem;
    font-size: 1rem;
    color: grey;
    width: 44vh;
}
.price{
    background-color: rgb(63, 120, 245);
}
.price-section{
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
}

.pricing{
   
    margin-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 2rem;
}

.pricecard{
    margin-top: 1.5rem;
    background-color: #ffffff;
    padding: 15px 25px;
    border-radius: 10px;
}
.cardhead1 h3{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 600;
 }

 .cardhead1 p{
    color: grey;
    margin-top: 7px;
    font-size: 0.6rem;
 }

 .offer-list {
    
    display: inline;
    flex-direction: column;
    color: #272626;
    font-size: 12px;
    margin: 2rem;
 }
 .check{
    margin-right: 1rem;
    color: green;
    font-size: 12px;
 }
 .cardfoot h3{
    text-align: center;
    font-size: 1.2rem;
    color: grey;
 }
 .cardfoot span{
    color: black;
 }
 .cardfoot p{
    margin-top: 5px;
    color: #656464;
    font-size: 0.6rem;
    text-align: center;
 }

.btn1{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    background: linear-gradient( white , white) padding-box, linear-gradient(50deg, blue, rgb(57, 205, 239))border-box;
    border: 3px solid transparent;
    font-size: 1rem;
    align-items: center;
    color: rgb(67, 189, 237);
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 2.2rem;
}
.pricecard2{
    margin-top: 1.5rem;
    background-color: #ffffff;
    padding: 15px 25px;
    border-radius: 10px;
}
.cardhead2{
    background-color: black;
    padding: 15px 25px;
    border-radius: 10px;
}
.cardhead2 h3{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
 }

 .cardhead2 p{
    color: grey;
    margin-top: 7px;
    font-size: 0.6rem;
 }

 .btn2{
    margin-top: 3rem;
    padding: 10px 20px;
    border-radius: 10px;
    background : linear-gradient(60deg, rgb(0, 157, 255), rgb(0, 217, 255));
    border: 0px solid transparent ;
    box-shadow: aqua;
    text-decoration: none;
    font-size: 1.2rem;
    align-items: center;
    color: #ffffff;
    font-weight: 500;
    margin-left: 2.2rem;
 }

